<a class="page-link" href="{{ "/perth" | prepend: site.baseurl }}">Perth</a>
<a class="page-link" href="{{ "/sydney" | prepend: site.baseurl }}">Sydney</a>
<a class="page-link" href="{{ "/brisbane" | prepend: site.baseurl }}">Brisbane</a>
<a class="page-link" href="{{ "/melbourne" | prepend: site.baseurl }}">Melbourne</a>
<a class="page-link" href="{{ "/london" | prepend: site.baseurl }}">London</a>
<a class="page-link" href="{{ "/canberra" | prepend: site.baseurl }}">Canberra</a>
<a class="page-link" href="{{ "/adelaide" | prepend: site.baseurl }}">Adelaide</a>
<a class="page-link" href="{{ "/ljubljana" | prepend: site.baseurl }}">Ljubljana</a>
