<a class="page-link" href="{{ site.url }}">Home</a>
<a class="page-link" href="{{ "/#where" | prepend: site.baseurl }}">Join</a>
<a class="page-link" href="{{ "/blog" | prepend: site.baseurl }}">Blog</a>
<a class="page-link" href="{{ "/ctf101" | prepend: site.baseurl }}">CTF 101</a>
<a class="page-link" href="{{ "/sponsor" | prepend: site.baseurl }}">Sponsorship</a>
<a class="page-link" href="https://sectalks.spreadshirt.com.au" title="Get your SecTalks Tshirt">Tshirt</a>
<a class="page-link" href="https://github.com/sectalks/sectalks" title="Presentations and CTF archive">Archive</a>
<a class="page-link" href="{{ "/coc" | prepend: site.baseurl }}" title="SecTalks Code of Conduct">no bullshit!</a>
