<a class="page-link" href="{{ site.url }}">Home</a>
<a class="page-link" href="{{ "/#where" | prepend: site.baseurl }}">Join</a>
<a class="page-link" href="{{ "/brisbane" | prepend: site.baseurl }}">Brisbane</a>
<a class="page-link" href="{{ "/perth" | prepend: site.baseurl }}">Perth</a>
<a class="page-link" href="{{ "/sydney" | prepend: site.baseurl }}">Sydney</a>
<a class="page-link" href="{{ "/blog" | prepend: site.baseurl }}">Blog</a>
<a class="page-link" href="{{ "/#get-in-touch" | prepend: site.baseurl }}">Contact</a>
