<div class="pagination">
  <div class="left">
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a class="button" href="{{ site.baseurl }}/blog">Newer</a>
      {% else %}
        <a class="button" href="{{ site.baseurl }}/blog/page{{paginator.previous_page}}/">Newer</a>
      {% endif %}
    {% else %}
      <span class="button disabled">Newer</span>
    {% endif %}
  </div>
  <div class="right">
    {% if paginator.next_page %}
      <a class="button" href="{{ site.baseurl }}/blog/page{{paginator.next_page}}/">Older</a>
    {% else %}
      <span class="button disabled">Older</span>
    {% endif %}
  </div>
</div>
